/***** Always True *****/
@media only screen {
    #mesh-controls { 
        top: 0;
        right: 0;
        height: 100%;
        position: absolute;
        width: var(--controls-width);
        background-color: var(--bg-secondary);
    }

    #mesh-controls > .nav-panel > .icon-button:hover {
        font-weight: bold;
        border-radius: var(--btn-border-radius-sm);
    }

    #mesh-controls > .nav-panel > .icon-button.active {
        font-weight: bold;
        background-color: var(--bg-primary);
        border-radius: var(--btn-border-radius-sm);
    }

    #mesh-controls > .nav-panel > .icon-button {
        /* padding: 5px 20px; */
        margin: 5px 2.5px;
        color: var(--font-color-primary);
        /* border-radius: 10px 10px 0 0; */
        /* background-color: var(--bg-secondary); */
    }

    #mesh-controls .chat textarea {
        background-color: var(--font-color-primary);
        color: var(--bg-primary);
    }

    #mesh-controls .chat textarea::placeholder {
        color: var(--bg-secondary);
    }

    #mesh-controls .chat > .message-user, 
    #mesh-controls .chat > .message-system {
        padding: 10px;
        margin: 5px 0;
        max-width: 65%;
        width: fit-content;
        border-radius: var(--btn-border-radius-sm);
    }

    #mesh-controls .chat > .message-user {
        align-self: end;
        background-color: var(--primary);
    }

    #mesh-controls .chat > .message-system {
        color: var(--bg-primary);
        background-color: var(--font-color-primary);
    }

    #mesh-controls .chat .action-button > svg {
        color: var(--bg-primary);
    }

    #mesh-controls .chat .action-button:hover > svg {
        color: var(--primary);
    }

    #controls > h1 {
        font-weight: 550;
        color: var(--font-color-primary);
        font-size: var(--font-size-title-large);
    }

    #controls h3 {
        font-weight: 400;
        color: var(--font-color-primary);
        font-size: var(--font-size-title-medium);
    }

    #controls model-viewer {
        width: 100%;
        height: 100%;
    }

    #controls textarea { 
        resize: none;
        height: 100px;
        padding: 10px;
        width: calc(100% - 20px);
        border-radius: var(--border-radius);
        border: 2px solid var(--bg-primary);
    }

    #view-controls {
        padding: 0;
        width: 300px;
        height: 30px;
        position: absolute;
        border-radius: 40px;
        top: calc(var(--nav-top) / 2);
        background-color: var(--bg-primary);
        left: calc(50% - 150px - 275px + 210px);
        /* border: 1px solid var(--font-color-primary); */
    }

    #view-controls button { 
        margin: 0;
        width: 50%;
        height: 100%;
        border-radius: 0;
    }
}