/***** Always True *****/
@media only screen {
    .editable {
        outline: none;
        border: none;
        padding: 6.25px 0;
        background: transparent;
        color: var(--node-font-color);
    }

    .editable:hover {
        cursor: text;
    }

    .editable-h1 {
        font-weight: 450;
        margin: 50px 0 20px 0;
        letter-spacing: -0.019px;
        color: var(--font-color-primary);
        font-size: var(--font-size-headline-large);
    }
}