/***** Always True *****/
@media only screen {
    .mb-thumbnail {
        width: 250px;
        padding: 25px;
        height: 150px;
        margin-right: 20px;
        margin-bottom: 20px;
        border-radius: var(--border-radius);
        border: 1px dashed var(--bg-secondary);
    }

    .mb-filled-secondary {
        background-color: var(--bg-secondary);
    }

    .mb-thumbnail svg {
        width: 100%;
        height: 100%;
        background-color: var(--font-color-primary);
    }

    .mb-thumbnail button {
        position: absolute;
        margin-top: calc(70px - 25px + 5px);
        margin-left: calc(120.75px - 25px + 5px);
    }

    .mb-thumbnail.dashed {
        border-style: dashed;
    }

    .mb-filled {
        border: none;
        background-color: var(--bg-primary);
    }

    .mb-save-btn {
        position: fixed;
        border-radius: 5px;
        padding: 10px 15px;
        top: var(--nav-top);
        right: var(--nav-left);
        margin: 12px 10px 8px 5px;
    }

    .mb-btn-add:hover {
        background-color: var(--secondary);
    }
}