/***** Always True *****/
@media only screen {
    .project-thumbnail {
        width: 250px;
        padding: 25px;
        height: 200px;
        margin-right: 20px;
        margin-bottom: 20px;
        border-radius: var(--border-radius);
        border: 1px solid var(--bg-secondary);
    }

    .project-thumbnail-mbs {
        gap: 0px 10px; 
        display: grid; 
        width: calc(100%);
        height: calc(100% - 50px);
        grid-template-rows: 50% 50%; 
        grid-template-columns: 50% 50%; 
        grid-template-areas: "mb-1 mb-2" "mb-3 mb-4";
    }

    .project-thumbnail-mb-1 { grid-area: mb-1; }
    .project-thumbnail-mb-2 { grid-area: mb-2; }
    .project-thumbnail-mb-3 { grid-area: mb-3; }
    .project-thumbnail-mb-4 { grid-area: mb-4; }

    .project-thumbnail-mbs button {
        position: absolute;
        margin-top: calc(75px - 25px + 5px);
        margin-left: calc(114.75px - 25px + 5px);
    }

    .project-thumbnail-mbs button:hover {
        background-color: var(--secondary);
    }
}